# Django stack
django
djangorestframework
django-cors-headers
django-extensions==3.2.3
whitenoise==6.6.0

# WSGI & Server
gunicorn==21.2.0

# Database
psycopg2-binary


# Configuration
python-dotenv
google-genai
litellm
sentry-sdk
typing-extensions>=4.5.0

# Document processing
markdown
pypdf
numpy

